<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<br>
<br>
<div class="container d-flex justify-content-sm-center">
    <div class="col-md-10">
        <h1 class="align-text-end">Patient History</h1>
        <table class="table table-striped text-center border border-secondary border-1">
            <thead>
            <tr>
                <th>Notes</th>
                <th>Update note</th>
            </tr>
            </thead>
            <tbody>
            <tr th:each="noteDTO : ${notes}">
                <td style="width: 60%" th:text="${noteDTO.note}"></td>
                <td style="width: 10%" class="text-center">
                    <a th:href="@{/patHistory/update/{id}(id=${noteDTO.id})}" style="background-color:#128499"
                       class="form-control btn btn-success">Edit</a>
                </td>
            </tr>
            </tbody>
        </table>
    </div>
</div>
</body>
</html>