<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<html xmlns:th="http://www.thymeleaf.org">
<head>
    <meta charset="UTF-8">
    <title>Mediscreen</title>
    <link href="https://cdn.jsdelivr.net/npm/bootstrap@5.0.0-beta2/dist/css/bootstrap.min.css"
          rel="stylesheet"
          integrity="sha384-BmbxuPwQa2lc/FVzBcNJ7UAyJxM6wuqIj61tLrc4wSX0szH/Ev+nYRRuWlolflfl"
          crossorigin="anonymous">
    <link rel="stylesheet" href="https://use.fontawesome.com/releases/v5.7.0/css/all.css"
          integrity="sha384-lZN37f5QGtY3VHgisS14W3ExzMWZxybE1SJSEsQp9S+oqd12jhcu+A56Ebc1zFSJ" crossorigin="anonymous">
    <link th:href="@{/css/main.css}" rel="stylesheet">
</head>
<body>
<br>
<br>
<div class="container">
    <div class="row d-flex justify-content-sm-center ">
        <div class="col-md-4">
            <h1>Register Patient</h1>
            <!-- Success message -->
            <div th:if="${param.success}">
                <div class="alert alert-success"> The patient has been successfully registered to Mediscreen!
                </div>
            </div>
            <form th:action="@{/patient/validate}" method="post" th:object="${patientRegistrationDto}"
                  class="border border-2 rounded w-100 p-3">
                <div class="form-group mb-3 d-flex justify-content-center ">
                    <button type="button" class="btn btn-secondary" style="background-color:#128499">Mediscreen</button>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="inputFamily" placeholder="Family name"
                           th:field="*{family}">
                    <span th:if="${#fields.hasErrors('family')}" th:errors="*{family}" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="inputGiven" placeholder="Given name"
                           th:field="*{given}">
                    <span th:if="${#fields.hasErrors('given')}" th:errors="*{given}" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="inputDateOfBirth" placeholder="Date of Birth"
                           th:field="*{dob}">
                    <span th:if="${#fields.hasErrors('dob')}" th:errors="*{dob}"
                          class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="inputGender" placeholder="Gender"
                           th:field="*{sex}">
                    <span th:if="${#fields.hasErrors('sex')}" th:errors="*{sex}" class="text-danger"></span>
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="inputAddress" placeholder="Address"
                           th:field="*{address}">
                </div>
                <div class="form-group mb-3">
                    <input type="text" class="form-control" id="inputPhoneNumber" placeholder="Phone number"
                           th:field="*{phone}">
                </div>
                <div class="d-flex justify-content-between">
                    <a class="form-control btn btn-danger me-4" th:href="@{/patient/list}">Cancel</a>
                    <button type="submit" class="form-control btn btn-success" style="background-color:#128499" >Register</button>
                </div>
            </form>
        </div>
    </div>
</div>
</body>
</html>